.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.make-appointment-page {
    border: 1px solid;
    border-radius: 20px;
    background-color: rgb(145, 196, 243);
    padding: 30px;
    width: 50%;
}

.confirm {
    justify-content: center;
}
